.absolventen-slider {
  border: 1px solid red;
  background-color: $gray-1;
  color: $white;

  &__left-wrapper {
    background-color: $black;
    margin-top: 160px;
    margin-bottom: 160px;
    padding: 90px;

    h3 {
      margin-bottom: 60px;
    }
  }

  &__left-text {
    margin-bottom: 90px;
    color: $gray-4;
  }

  &__left-first-link {
    margin-bottom: 30px;
  }
}
