.header-ce {
  position: relative;
  margin-bottom: 40px;

  @include media-breakpoint-up(lg) {
    padding-bottom: 60px;
  }

  &__text-area {
    padding-top: 80px;
    padding-bottom: 30px;

    @include media-breakpoint-up(lg) {
      padding-bottom: 80px;
    }
  }

  &__text-wrapper {
    width: 80%;
  }

  &__minititle {
    color: $red;
    margin-bottom: 30px;
  }

  &__subtitle {
    color: $red;
    font-family: $HelveticaRegular;
  }

  &__text {
    margin-top: 30px;

    @include media-breakpoint-up(lg) {
      margin-top: 60px;
    }
  }

  &__image-wrapper {
    img {
      width: 100%;
      height: auto;
    }
  }

  &__youtube {
    position: relative;
    padding-bottom: 56.25%;
    top: 50%;
    transform: translateY(-50%);

    iframe {
      position: absolute;
      width: 100% !important;
      height: 100% !important;
    }
  }

  &__slider-wrapper {
    position: relative;

    @include media-breakpoint-down(lg) {
      background: $gray-1;
    }
  }

  &__slider {
    position: relative;

    @include media-breakpoint-up(lg) {
      padding-bottom: 120px;
    }

    .slick-arrow {
      background: $red-3;
      width: 50px;
      height: 50px;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      top: calc(50% - 50px);
      z-index: 2;

      @include media-breakpoint-up(lg) {
        border-top: 1px solid $white;
        width: 120px;
        height: 120px;
        bottom: 0;
        top: auto;
      }

      &.prev {
        left: 0;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10.1' height='15.4' viewBox='0 0 10.1 15.4'%3E%3Cg id='icon_arrow_big' data-name='icon/arrow_big' transform='translate(10.1 15.4) rotate(180)'%3E%3Cpath id='Pfad_215' data-name='Pfad 215' d='M9.7,12.1,2,4.318,4.294,2,9.7,7.464,15.106,2,17.4,4.318Z' transform='translate(-2 17.4) rotate(-90)' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E%0A");
      }

      &.next {
        left: auto;
        background-image: url("data:image/svg+xml,%3Csvg id='icon_arrow_big' data-name='icon/arrow_big' xmlns='http://www.w3.org/2000/svg' width='10.1' height='15.4' viewBox='0 0 10.1 15.4'%3E%3Cpath id='Pfad_215' data-name='Pfad 215' d='M9.7,12.1,2,4.318,4.294,2,9.7,7.464,15.106,2,17.4,4.318Z' transform='translate(-2 17.4) rotate(-90)' fill='%23fff'/%3E%3C/svg%3E%0A");
        right: 0;

        @include media-breakpoint-up(lg) {
          left: 121px;
          right: auto;
        }
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__slider--slide-content {
    position: relative;
    overflow: hidden;

    img {
      margin: 0 auto;
      min-width: 100%;
      height: auto;

      @include media-breakpoint-down(lg) {
        max-width: 100%;
      }
    }
  }

  &__slider--slide-description {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    color: $white;
    display: flex;
    align-items: center;
    width: 100%;

    @include media-breakpoint-up(lg) {
      padding: 10px 50px;
      height: 120px;
    }

    p {
      margin-bottom: 0;
    }
  }

  &__slider-second {
    @include media-breakpoint-down(lg) {
      display: none;
    }

    @include media-breakpoint-up(lg) {
      height: 120px;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 240px;
      width: calc(100% - 240px);
      background: $gray-1;
      display: flex;
      align-items: center;
      padding: 10px 30px;
    }

    .slick-track {
      display: flex;
      align-items: center;
    }

    p {
      margin-bottom: 0;
    }
  }
}
