.header-ce {
  position: relative;
  padding-bottom: 40px;

  @include media-breakpoint-up(lg) {
    padding-bottom: 60px;
  }

  &__text-area {
    padding-top: 80px;
    padding-bottom: 30px;

    @include media-breakpoint-up(lg) {
      padding-bottom: 80px;
    }
  }

  &__text-wrapper {
    width: 80%;
  }

  &__minititle {
    color: $red;
    margin-bottom: 30px;
  }

  &__subtitle {
    color: $red;
    font-family: $HelveticaRegular;
  }

  &__text {
    margin-top: 30px;

    @include media-breakpoint-up(lg) {
      margin-top: 60px;
    }
  }

  &__image-wrapper {
    img {
      width: 100%;
      height: auto;
      filter: grayscale(100%);
    }
  }

  &__video-wrapper {
    position: relative;

    &:hover {
      cursor: pointer;
    }

    img {
      position: relative;
      z-index: 1;
    }

    .play {
      width: 130px;
      height: 130px;
      z-index: 2;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-position: center;
      background-size: cover;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='136' height='136' viewBox='0 0 136 136'%3E%3Ccircle id='Ellipse_262' data-name='Ellipse 262' cx='68' cy='68' r='68' fill='%23dd042d' opacity='0.7'/%3E%3Cg id='Polygon_8' data-name='Polygon 8' transform='translate(90 35.846) rotate(90)' fill='none'%3E%3Cpath d='M15.132,7.84a5,5,0,0,1,8.736,0L34.858,27.566A5,5,0,0,1,30.491,35H8.509a5,5,0,0,1-4.368-7.434Z' stroke='none'/%3E%3Cpath d='M 19.50000190734863 8.273221969604492 C 19.14666175842285 8.273221969604492 18.26909255981445 8.373252868652344 17.75286102294922 9.299821853637695 L 6.762233734130859 29.02660369873047 C 6.259471893310547 29.92900276184082 6.610683441162109 30.71651268005371 6.785011291503906 31.01321220397949 C 6.9593505859375 31.30991363525391 7.476362228393555 32.00000381469727 8.509372711181641 32.00000381469727 L 30.49063110351562 32.00000381469727 C 31.52364158630371 32.00000381469727 32.04065322875977 31.30991363525391 32.21499252319336 31.01321220397949 C 32.38932037353516 30.71651268005371 32.74053192138672 29.92900276184082 32.23777008056641 29.02660369873047 L 21.24714279174805 9.299812316894531 C 20.73091125488281 8.373252868652344 19.85334205627441 8.273221969604492 19.50000190734863 8.273221969604492 M 19.49999809265137 5.273220062255859 C 21.20728492736816 5.273220062255859 22.91457176208496 6.128715515136719 23.86784172058105 7.839712142944336 L 34.85847091674805 27.56649208068848 C 36.71529388427734 30.89924240112305 34.30573272705078 35.00000381469727 30.49063110351562 35.00000381469727 L 8.509372711181641 35.00000381469727 C 4.694263458251953 35.00000381469727 2.284713745117188 30.89924240112305 4.141532897949219 27.56649208068848 L 15.13216209411621 7.839712142944336 C 16.08542633056641 6.128715515136719 17.79271125793457 5.273220062255859 19.49999809265137 5.273220062255859 Z' stroke='none' fill='%23fff'/%3E%3C/g%3E%3Cpath id='Pfad_290' data-name='Pfad 290' d='M3.486-3.864l1.3-3.668h.028l1.26,3.668ZM3.7-10-.084,0H2.128l.784-2.226H6.65L7.406,0H9.688L5.95-10ZM12.754-5.95V-8.288h2.058a3.2,3.2,0,0,1,.567.049,1.416,1.416,0,0,1,.483.175.932.932,0,0,1,.336.35,1.162,1.162,0,0,1,.126.574,1.058,1.058,0,0,1-.378.91,1.58,1.58,0,0,1-.966.28ZM10.556-10V0H15.4a5.111,5.111,0,0,0,1.309-.168,3.5,3.5,0,0,0,1.134-.518,2.551,2.551,0,0,0,.791-.9A2.751,2.751,0,0,0,18.928-2.9a2.77,2.77,0,0,0-.455-1.6,2.4,2.4,0,0,0-1.379-.931,2.491,2.491,0,0,0,1.015-.826,2.189,2.189,0,0,0,.343-1.26,2.681,2.681,0,0,0-.231-1.176,1.921,1.921,0,0,0-.651-.763,2.811,2.811,0,0,0-1.008-.413A6.225,6.225,0,0,0,15.26-10Zm2.2,8.288V-4.452h2.394a1.852,1.852,0,0,1,1.148.329,1.292,1.292,0,0,1,.434,1.1,1.374,1.374,0,0,1-.133.644,1.057,1.057,0,0,1-.357.4,1.512,1.512,0,0,1-.518.21,2.933,2.933,0,0,1-.616.063Zm9.156-1.61H19.782a3.3,3.3,0,0,0,.336,1.6,3.147,3.147,0,0,0,.945,1.106,4.032,4.032,0,0,0,1.372.637,6.315,6.315,0,0,0,1.6.2,6.155,6.155,0,0,0,1.8-.238,3.8,3.8,0,0,0,1.3-.665,2.768,2.768,0,0,0,.791-1.015A3.055,3.055,0,0,0,28.2-2.968a2.451,2.451,0,0,0-.357-1.379,2.982,2.982,0,0,0-.847-.861A3.723,3.723,0,0,0,26-5.677q-.5-.147-.777-.2-.938-.238-1.519-.392a5.634,5.634,0,0,1-.91-.308,1,1,0,0,1-.441-.336.9.9,0,0,1-.112-.476.94.94,0,0,1,.14-.532,1.216,1.216,0,0,1,.357-.35,1.423,1.423,0,0,1,.483-.2,2.576,2.576,0,0,1,.532-.056,3.749,3.749,0,0,1,.749.07,1.805,1.805,0,0,1,.609.238,1.237,1.237,0,0,1,.427.462,1.767,1.767,0,0,1,.189.742H27.86a3.07,3.07,0,0,0-.329-1.477,2.868,2.868,0,0,0-.889-1,3.754,3.754,0,0,0-1.281-.567,6.359,6.359,0,0,0-1.505-.175,5.122,5.122,0,0,0-1.344.182,3.752,3.752,0,0,0-1.2.56,2.981,2.981,0,0,0-.861.945,2.617,2.617,0,0,0-.329,1.337,2.444,2.444,0,0,0,.259,1.169,2.472,2.472,0,0,0,.679.8,3.752,3.752,0,0,0,.952.525,9.572,9.572,0,0,0,1.092.343q.546.154,1.078.28a6.777,6.777,0,0,1,.952.294,2.054,2.054,0,0,1,.679.42.877.877,0,0,1,.259.658.966.966,0,0,1-.2.623,1.374,1.374,0,0,1-.49.385,2.192,2.192,0,0,1-.63.189,4.379,4.379,0,0,1-.63.049,3.341,3.341,0,0,1-.84-.105,2.091,2.091,0,0,1-.707-.322,1.59,1.59,0,0,1-.483-.567A1.833,1.833,0,0,1,21.91-3.318ZM31.7-5.292v-3H33.4a4.6,4.6,0,0,1,.728.056,1.694,1.694,0,0,1,.616.217,1.182,1.182,0,0,1,.427.455,1.6,1.6,0,0,1,.161.77,1.6,1.6,0,0,1-.161.77,1.182,1.182,0,0,1-.427.455,1.694,1.694,0,0,1-.616.217,4.6,4.6,0,0,1-.728.056ZM29.5-10V0h2.2V-3.584h2.31a4.163,4.163,0,0,0,1.6-.273,2.986,2.986,0,0,0,1.071-.721,2.76,2.76,0,0,0,.6-1.029,3.8,3.8,0,0,0,.189-1.183,3.78,3.78,0,0,0-.189-1.19A2.77,2.77,0,0,0,36.673-9,2.986,2.986,0,0,0,35.6-9.723a4.163,4.163,0,0,0-1.6-.273Zm9.338,0V0h2.2V-10Zm4.13,0V0h7.588V-1.848h-5.39V-4.3h4.844V-6.006H45.164V-8.148h5.278V-10Zm9.072,0V0h7.07V-1.848H54.236V-10Zm8.3,0V0h7.588V-1.848h-5.39V-4.3h4.844V-6.006H62.538V-8.148h5.278V-10Zm9.072,0V0H71.47V-6.692H71.5L75.656,0h2.2V-10H75.8V-3.29h-.028L71.6-10Z' transform='translate(29 97)' fill='%23fff'/%3E%3C/svg%3E%0A");
    }

    .modal {
      .modal-dialog {
        max-width: 100%;

        @media only screen and (min-width: 1200px) {
          max-width: 80%;
        }

        .modal-body {
          @media only screen and (max-width: 1200px) {
            padding: 10px;
          }

          iframe {
            width: 100%;
            height: 50vh;

            @media only screen and (min-width: 1200px) {
              height: 70vh;
            }
          }
        }
      }
    }
  }

  &__slider-wrapper {
    position: relative;

    @include media-breakpoint-down(lg) {
      background: $gray-1;
    }
  }

  &__slider {
    position: relative;

    @include media-breakpoint-up(lg) {
      padding-bottom: 120px;
    }

    .slick-arrow {
      background: $red-3;
      width: 50px;
      height: 50px;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      top: calc(50% - 50px);
      z-index: 2;

      @include media-breakpoint-up(lg) {
        border-top: 1px solid $white;
        width: 120px;
        height: 120px;
        bottom: 0;
        top: auto;
      }

      &.prev {
        left: 0;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10.1' height='15.4' viewBox='0 0 10.1 15.4'%3E%3Cg id='icon_arrow_big' data-name='icon/arrow_big' transform='translate(10.1 15.4) rotate(180)'%3E%3Cpath id='Pfad_215' data-name='Pfad 215' d='M9.7,12.1,2,4.318,4.294,2,9.7,7.464,15.106,2,17.4,4.318Z' transform='translate(-2 17.4) rotate(-90)' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E%0A");
      }

      &.next {
        left: auto;
        background-image: url("data:image/svg+xml,%3Csvg id='icon_arrow_big' data-name='icon/arrow_big' xmlns='http://www.w3.org/2000/svg' width='10.1' height='15.4' viewBox='0 0 10.1 15.4'%3E%3Cpath id='Pfad_215' data-name='Pfad 215' d='M9.7,12.1,2,4.318,4.294,2,9.7,7.464,15.106,2,17.4,4.318Z' transform='translate(-2 17.4) rotate(-90)' fill='%23fff'/%3E%3C/svg%3E%0A");
        right: 0;

        @include media-breakpoint-up(lg) {
          left: 121px;
          right: auto;
        }
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__slider--slide-content {
    position: relative;
    overflow: hidden;

    img {
      margin: 0 auto;
      min-width: 100%;
      height: auto;

      @include media-breakpoint-down(lg) {
        max-width: 100%;
      }
    }
  }

  &__slider--slide-description {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    color: $white;
    display: flex;
    align-items: center;
    width: 100%;

    @include media-breakpoint-up(lg) {
      padding: 10px 50px;
      height: 120px;
    }

    p {
      margin-bottom: 0;
    }
  }

  &__slider-second {
    @include media-breakpoint-down(lg) {
      display: none;
    }

    @include media-breakpoint-up(lg) {
      height: 120px;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 240px;
      width: calc(100% - 240px);
      background: $gray-1;
      display: flex;
      align-items: center;
      padding: 10px 30px;
    }

    .slick-track {
      display: flex;
      align-items: center;
    }

    p {
      margin-bottom: 0;
    }
  }
}
