.list-teasers {
  background-color: $gray-1;
  padding: 50px 0 50px;

  @media only screen and (min-width: 500px) {
    padding: 125px 0 120px;
  }

  &__title-main {
    text-align: center;
    margin-bottom: 30px;

    @media only screen and (min-width: 500px) {
      margin-bottom: 60px;
    }
  }

  &__single-container {
    @media only screen and (max-width: 1199px) {
      margin-bottom: 30px;
    }
  }

  &__single {
    padding: 15px 25px;
    background-color: $white;
    height: 100%;
    max-width: 500px;
    margin: 0 auto;

    @media only screen and (min-width: 500px) {
      padding: 50px 25px;
    }
  }

  &__number {
    font-family: $HelveticaBold;
    font-size: 68px;
    line-height: 82px;
    letter-spacing: 0;
    font-stretch: normal;
    color: $gray-3;
    margin-bottom: 10px;

    @media only screen and (min-width: 500px) {
      margin-left: 35px;
    }
  }

  &__title {
    text-transform: initial;
    margin-bottom: 20px;

    @media only screen and (min-width: 500px) {
      margin-left: 35px;
      margin-right: 35px;
      margin-bottom: 35px;
      min-height: 90px;
    }
  }

  hr {
    margin-top: 0;
    margin-bottom: 35px;
  }

  &__text {
    @media only screen and (min-width: 500px) {
      margin-left: 35px;
      margin-right: 35px;
    }
  }
}
