.list-box {
  .row {
    padding: 40px 60px 60px 60px;
  }

  &__title {
    font-family: $HelveticaBold;
    font-size: 30px;
    border-bottom: 1px solid $gray-4;
    padding-bottom: 25px;
    margin-bottom: 40px;
  }
}
