.starttermine {
  // @extend %bottom-spacing;

  #starttermine {
    margin-bottom: 70px;
  }

  &__card {
    min-height: 140px;
    border-bottom: 1px solid $gray-4;
    position: relative;

    &:first-child {
      border-top: 1px solid $gray-4;
    }

    &:nth-child(n+4) {
      display: none;
    }

    &.show-all {
      display: block;
    }
  }

  &__card-header-arrow {
    width: 15px;
    height: 10px;
    display: inline-block;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15.4' height='10.1' viewBox='0 0 15.4 10.1'%3E%3Cpath id='Path_214' data-name='Path 214' d='M9.7,12.1,2,4.318,4.294,2,9.7,7.464,15.106,2,17.4,4.318Z' transform='translate(-2 -2)'/%3E%3C/svg%3E%0A");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 65px;
    transform: rotate(180deg);

    @media only screen and (max-width: 1199px) {
      margin-right: 20px;
    }
  }

  &__card-header-text-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    z-index: 1;

    @media only screen and (max-width: 1199px) {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      margin-bottom: 20px;
    }
  }

  &__card-header-date {
    margin-bottom: 0;
    min-width: 200px;

    @media only screen and (min-width: 900px) {
      font-size: 24px;
    }

    @media only screen and (max-width: 1199px) {
      margin-bottom: 20px;
      width: 100%;
    }

    &.disable {
      color: $gray-4;
    }
  }

  &__card-header-arrow-wrapper {
    display: flex;
    align-items: center;
    width: 100%;

    @media only screen and (max-width: 1199px) {
      margin-bottom: 20px;
    }
  }

  &__card-header-title {
    color: $red-3;
    display: inline;
    width: calc(100% - 80px);
    margin-bottom: 0;

    &.disable {
      color: $gray-4;
    }
  }

  &__card-header-button-wrapper {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 1;

    @media only screen and (max-width: 1199px) {
      flex-direction: column;
      margin-left: initial;
      width: 100%;
    }
  }

  &__card-header {
    min-height: 140px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    padding-left: 40px;
    padding-right: 35px;
    transition: background 0.25s ease-in;
    background: $gray-1;

    @media only screen and (max-width: 1199px) {
      flex-direction: column;
      align-items: flex-start;
      padding-top: 30px;
      padding-bottom: 30px;
      padding-left: 15px;
      padding-right: 15px;
    }

    &[aria-expanded="true"] {
      .starttermine__card-header-button-wrapper {
        >.enable {
          max-height: 0;
        }
      }
    }

    &.collapsed {
      background: $white;

      .starttermine__card-header-arrow {
        transform: rotate(0);
      }
    }

    &:hover {
      background: $gray-1;
    }
  }

  &__card-header-button-slots {
    position: relative;
    margin-right: 70px;

    @media only screen and (max-width: 1199px) {
      margin-right: 0;
      margin-bottom: 20px;
    }

    &::after {
      content: "";
      display: inline-block;
      border-left: 1px solid $black;
      height: 45px;
      position: absolute;
      right: -35px;
      top: 10px;

      @media only screen and (max-width: 1199px) {
        content: none;
      }
    }

    > a {
      cursor: default;

      @media only screen and (max-width: 1199px) {
        width: 100%;
      }
    }
  }

  &__card-header-button-enlist {
    transition: max-height 0.5s ease-in;
    max-height: 500px;

    &:not(.disable) {
      @media only screen and (max-width: 1199px) {
        pointer-events: none;
        opacity: 0;
      }
    }

    > a {
      cursor: default;

      @media only screen and (max-width: 1199px) {
        width: 100%;
      }
    }
  }

  &__card-header-button-modal {
    position: absolute;
    right: 35px;
    top: 38px;
    z-index: 2;

    @media only screen and (max-width: 1199px) {
      right: 15px;
      top: initial;
      bottom: 30px;
      width: calc(100% - 30px);
    }
  }

  &__card-content {
    background: $gray-1;
  }

  &__card-content-wrapper {
    padding: 20px 0;
    margin-right: 35px;
    margin-left: 40px;
    border-top: 1px solid $gray-4;
    display: inline-block;

    @media only screen and (min-width: 1600px) {
      padding: 30px 550px 30px 320px;
    }

    @media only screen and (max-width: 1199px) {
      padding: 20px 0 100px;
    }
  }

  .button-wrapper {
    @media only screen and (max-width: 1199px) {
      margin-bottom: 10px;
    }

    .button {
      @media only screen and (max-width: 1199px) {
        display: block;
        line-height: 48px;
        text-align: center;
      }

      @media only screen and (min-width: 600px) and (max-width: 1199px) {
        width: 310px;
      }
    }
  }

  &.gray {
    // padding: 50px 0;
    //
    // @media only screen and (min-width: 800px) {
    //   padding: 100px 0;
    // }

    .starttermine__card-header {
      background: $gray-1;

      &:hover {
        background: $white;
      }

      &:not(.collapsed) {
        background: $white;
      }
    }

    .starttermine__card-header-button-slots {
      background: transparent;
    }

    .starttermine__card-content {
      &:not(.collapsed) {
        background: $white;
      }
    }

    .button-wrapper {
      background: transparent;
    }
  }
}
