.submenu-teaser {
  border: 1px solid red;

  &__left-wrapper {
    padding-top: 80px;
    padding-bottom: 80%;
    padding-left: 70px;
  }

  &__right-wrapper {
    padding-top: 80px;
    padding-bottom: 80%;
    padding-right: 70px;
  }

  &__title {
    font-family: $HelveticaBold;
  }

  &__left-wrapper-title {
    margin-bottom: 50px;
    border-bottom: 1px solid $gray-4;
    min-height: 65px;
    display: flex;
    align-items: flex-end;
  }

  &__right-wrapper-title {
    margin-bottom: 50px;
    border-bottom: 1px solid $gray-4;
    min-height: 65px;
    display: flex;
    align-items: flex-end;

    p {
      font-family: $HelveticaBold;
    }
  }

  &__text {
    margin-bottom: 50px;

    a {
      border-bottom: 1px solid $red-1;
    }
  }

  .button-wrapper {
    margin-bottom: 50px;
  }
}
