.two-column-content {
  > .container {
    > .row {
      > .col-xl-6 {
        margin-bottom: 15px;
      }
    }
  }

  .list-box {
    display: flex;
    height: 100%;

    .container {
      display: flex;
      height: 100%;

      .row {
        display: flex;
        height: 100%;
        align-content: baseline;
        padding: 30px;

        > .column-count-2 {
          position: relative;
          column-gap: 100px;

          &::after {
            content: "";
            position: absolute;
            display: inline-block;
            height: 100%;
            width: 1px;
            background-color: $gray-4;
            right: 50%;
            top: 0;

            @media only screen and (max-width: 1199px) {
              display: none;
            }
          }
        }
      }
    }
  }

  .image {
    .container {
      padding-left: 0;
      padding-right: 0;

      .row {
        > div {
          padding-left: 0;
          padding-right: 0;

          // img {
          //   @media only screen and (min-width: 1200px) {
          //     width: 85%;
          //     float: right;
          //   }
          // }
        }
      }
    }
  }

  .downloads {
    @media only screen and (max-width: 1199px) {
      .container {
        padding-left: 0;
        padding-right: 0;

        .row {
          > div {
            padding-left: 0;
            padding-right: 0;
          }
        }
      }
    }
  }

  .accordion {
    .container {
      padding-left: 0;

      .row {
        > div {
          padding-left: 0;
        }
      }
    }
  }
}
