.two-column-content {
  > .container {
    > .row {
      > .col-xl-6 {
        margin-bottom: 15px;

        @media only screen and (max-width: 1199px) {
          margin-bottom: 0;
        }
      }
    }
  }

  .headline {
    .container {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .list-box {
    display: flex;
    height: 100%;

    .container {
      display: flex;
      height: 100%;
      padding-right: 0;
      padding-left: 0;

      .row {
        display: flex;
        height: 100%;
        align-content: baseline;
        padding: 0;
        margin-right: 0;
        margin-left: 0;

        > .col,
        > [class*="col-"] {
          padding-right: 0;
          padding-left: 0;
        }

        &.white {
          background-color: transparent;
        }

        &.gray,
        &.gray-3 {
          padding: 80px 60px;
        }

        > .column-count-2 {
          position: relative;
          column-gap: 100px;
          margin: 30px 0 60px;

          &::after {
            content: "";
            position: absolute;
            display: inline-block;
            height: 100%;
            width: 1px;
            background-color: $gray-4;
            right: 50%;
            top: 0;

            @media only screen and (max-width: 1199px) {
              display: none;
            }
          }
        }
      }
    }
  }

  .image {
    .container {
      .row {
        > div {
          padding-left: 0;
          padding-right: 0;

          // img {
          //   @media only screen and (min-width: 1200px) {
          //     width: 85%;
          //     float: right;
          //   }
          // }
        }
      }
    }
  }

  .downloads {
    @media only screen and (max-width: 1199px) {
      .container {
        padding-left: 0;
        padding-right: 0;

        .row {
          > div {
            padding-left: 0;
            padding-right: 0;
          }
        }
      }
    }
  }

  .accordion {
    .container {
      // padding-left: 0;

      .row {
        > div {
          padding-left: 0;
        }
      }
    }
  }

  .gradient-text {
    .container {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .button-wrapper {
    .container {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
