.breadcrumb {
  background-color: transparent;
  border-radius: 0;
  padding-left: 0;
  margin-bottom: 50px !important;

  .breadcrumb-item {
    &::before {
      content: none;
    }

    a {
      @extend %marquee;

      margin-right: 5px;
      color: $gray-4;
    }

    &.active {
      span {
        @extend %marquee;

        color: $black;
      }
    }
  }
}
