body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;

  textarea,
  select,
  input,
  button {
    outline: none;
  }
}

.container {
  @media (min-width: 1200px) {
    max-width: 1890px;

    // &__inner {
    //   padding-left: 140px;
    //   padding-right: 140px;
    // }
  }
}

.downloads__share .shariff .theme-grey a {
  background-color: $gray-6 !important;
}

.downloads__share .shariff-button {
  margin-left: 0 !important;
}

.bottom-0 {
  padding-bottom: 0;
}

.bottom-30 {
  padding-bottom: 30px;
}

.bottom-60 {
  padding-bottom: 60px;

  @media (max-width: 1200px) {
    padding-bottom: 30px;
  }
}

.bottom-90 {
  padding-bottom: 90px;

  @media (max-width: 1200px) {
    padding-bottom: 30px;
  }
}

.bottom-120 {
  padding-bottom: 120px;

  @media (max-width: 1200px) {
    padding-bottom: 45px;
  }
}

.top-0 {
  padding-top: 0;
}

.top-30 {
  padding-top: 30px;
}

.top-60 {
  padding-top: 60px;
}

.top-90 {
  padding-top: 90px;
}

.top-120 {
  padding-top: 120px;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.white {
  background-color: $white;
}

.black {
  background-color: $black;
}

.gray {
  background-color: $gray-1;
}

.gray-3 {
  background-color: $gray-3;
}

.pink {
  background-color: $red-2;
}

.c-white {
  color: $white;
}

.c-black {
  color: $black;
}

.c-gray {
  color: $gray-4;
}

.c-pink {
  color: $red-2;
}

.red {
  color: $red-3;
}

.column-count-2 {
  column-count: 2;
}

.column-count-3 {
  column-count: 3;
}

.column-gap-50 {
  column-gap: 50px;
}

.column-gap-100 {
  column-gap: 100px;
}
