@font-face {
  font-family: "Helvetica Neue LT W05_55 Regular";
  src: url("../fonts/08b57253-2e0d-4c12-9c57-107f6c67bc49.woff2") format("woff2"), url("../fonts/08edde9d-c27b-4731-a27f-d6cd9b01cd06.woff") format("woff");
}

@font-face {
  font-family: "Helvetica Neue LT W05_75 Bold";
  src: url("../fonts/800da3b0-675f-465f-892d-d76cecbdd5b1.woff2") format("woff2"), url("../fonts/7b415a05-784a-4a4c-8c94-67e9288312f5.woff") format("woff");
}

$HelveticaRegular: "Helvetica Neue LT W05_55 Regular", sans-serif;
$HelveticaBold: "Helvetica Neue LT W05_75 Bold", sans-serif;

p,
h1,
h2,
h3,
h4,
h5 {
  strong {
    font-family: $HelveticaBold;
  }
}

h1,
h2 {
  font-family: $HelveticaBold;
  font-size: 80px;
  line-height: 97px;
  letter-spacing: 0;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  // text-transform: uppercase;

  @media only screen and (max-width: 1199px) {
    font-size: 40px;
    line-height: 50px;
  }

  &.small {
    font-size: 40px;
    line-height: 50px;
  }
}

h3 {
  font-family: $HelveticaBold;
  font-size: 60px;
  line-height: 75px;
  letter-spacing: 0;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  // text-transform: uppercase;

  @media only screen and (max-width: 1199px) {
    font-size: 40px;
    line-height: 50px;
  }

  &.small {
    font-size: 40px;
    line-height: 55px;
  }
}

h4 {
  font-family: $HelveticaBold;
  font-size: 50px;
  line-height: 65px;
  letter-spacing: 0;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  // text-transform: uppercase;

  @media only screen and (max-width: 1199px) {
    font-size: 40px;
    line-height: 50px;
  }

  &.small {
    font-size: 40px;
    line-height: 55px;
  }
}

h5 {
  font-family: $HelveticaBold;
  font-size: 40px;
  line-height: 55px;
  letter-spacing: 0;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  // text-transform: uppercase;

  @media only screen and (max-width: 1199px) {
    font-size: 30px;
    line-height: 45px;
  }

  &.small {
    font-size: 28px;
    line-height: 45px;
  }
}

h6 {
  font-family: $HelveticaBold;
  font-size: 30px;
  line-height: 45px;
  letter-spacing: 0;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}

p {
  font-family: $HelveticaRegular;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;

  &.big {
    font-size: 25px;
    line-height: 30px;
  }

  &.bold {
    font-family: $HelveticaBold;
  }

  strong {
    font-family: $HelveticaBold;
  }
}

span {
  &.bold {
    font-family: $HelveticaBold;
  }
}

.wrap {
  ul:not(.slick-dots) {
    list-style: none;

    li {
      position: relative;
      font-family: $HelveticaRegular;
      font-size: 20px;
      line-height: 30px;
      letter-spacing: 0;
      font-stretch: normal;
      color: $black;
      margin-bottom: 40px;

      &:last-child {
        margin: 0;
      }

      &::before {
        content: "";
        width: 10px;
        height: 10px;
        background-color: $red-3;
        font-weight: bold;
        display: inline-block;
        position: absolute;
        left: -40px;
        top: 10px;
      }
    }
  }
}

// Marquee
%marquee {
  font-family: $HelveticaRegular;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.32px;
  font-stretch: normal;
  color: $black;
}

// Button
%button {
  font-family: $HelveticaBold;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.32px;
  font-stretch: normal;
}

// Navigation
%main-navigation {
  font-family: $HelveticaRegular;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0;
  font-stretch: normal;
  color: $black;
  transition: color 0.25s ease;

  @media only screen and (max-width: 1600px) {
    font-family: $HelveticaBold;
    font-size: 24px;
    line-height: 35px;
  }

  &:hover {
    text-decoration: none;
    color: $red-3;
  }
}

%main-sub-navigation {
  font-family: $HelveticaBold;
  font-size: 25px;
  line-height: 35px;
  letter-spacing: 0;
  font-stretch: normal;
  color: $black;
  transition: color 0.25s ease;
  margin-bottom: 35px;
  display: inline-block;

  @media only screen and (max-width: 1600px) {
    font-family: $HelveticaRegular;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 5px;
  }

  &:hover {
    text-decoration: none;
    color: $red-3;
  }
}

// Form Title
%footer {
  font-family: $HelveticaRegular;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0;
  font-stretch: normal;
  font-weight: normal;

  strong {
    font-family: $HelveticaBold;
  }
}

%footer-navigation {
  font-family: $HelveticaBold;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0;
  font-stretch: normal;
  font-weight: normal;
  color: $white;
  padding-bottom: 3px;
  border-bottom: 1px solid $red-3;
  margin-bottom: 5px;
  display: inline-block;

  &:hover {
    text-decoration: none;
    border-bottom: 1px solid $red-3;
  }
}

%footer-tel-mail {
  font-family: $HelveticaRegular;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0;
  font-stretch: normal;
  font-weight: normal;
  color: $white;

  &:hover {
    text-decoration: none;
  }
}

// Form Title
%form-title {
  font-family: $HelveticaBold;
  font-size: 50px;
  line-height: 61px;
  letter-spacing: 0;
  font-stretch: normal;
  color: $black;
}

%form-placeholder {
  font-family: $HelveticaBold;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0;
  font-stretch: normal;
  color: $gray-5;
}

%form-chkbox-bold {
  font-family: $HelveticaBold;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0;
  font-stretch: normal;
  color: $black;
}

%form--chkbox {
  font-family: $HelveticaRegular;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0;
  font-stretch: normal;
  color: $black;
}

// Absolventen slider
%absolventen-slider-title {
  font-family: $HelveticaBold;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0;
  font-stretch: normal;
  color: $black;
}

%absolventen-slider-position {
  font-family: $HelveticaRegular;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0;
  font-stretch: normal;
  color: $black;
}

%absolventen-slider-additional {
  font-family: $HelveticaBold;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0;
  font-stretch: normal;
  color: $black;
}

%absolventen-slider-text {
  font-family: $HelveticaRegular;
  font-size: 25px;
  line-height: 40px;
  letter-spacing: 0;
  font-stretch: normal;
  color: $black;
}

%page-teasers-title {
  font-family: $HelveticaBold;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0;
  font-stretch: normal;
  color: $black;
}

%page-teasers-subtitle {
  font-family: $HelveticaRegular;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0;
  font-stretch: normal;
  color: $red-3;
}
