/** Search form */
.search-form {
  @extend .form-inline;
}

.search-form label {
  @extend .form-group;

  font-weight: normal;
}

.search-form .search-field {
  @extend .form-control;
}

.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

// CF7 Checkboxes
span.wpcf7-list-item {
  display: inline-block;
  margin: 0;
}

.wpcf7 .wpcf7-list-item {
  display: block;
  margin-bottom: 10px;
}

.wpcf7-checkbox label,
.wpcf7-acceptance label {
  position: relative;
  cursor: pointer;
}

.wpcf7-checkbox input[type=checkbox],
.wpcf7-acceptance input[type=checkbox] {
  position: absolute;
  visibility: hidden;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
}

.wpcf7-checkbox input[type=checkbox] + span::before,
.wpcf7-acceptance input[type=checkbox] + span::before {
  display: block;
  position: absolute;
  content: "";
  border-radius: 0;
  height: 22px;
  width: 22px;
  top: 5px;
  left: 0;
  border: 2px solid $red-3;
}

.wpcf7-checkbox input[type=checkbox] + span::after,
.wpcf7-acceptance input[type=checkbox] + span::after {
  display: block;
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  top: 11px;
  left: 6px;
  visibility: hidden;
  background-color: $red-3;
}

.wpcf7-checkbox input[type=checkbox]:checked + span::before,
.wpcf7-acceptance input[type=checkbox]:checked + span::before {
  background: transparent;
}

.wpcf7-checkbox input[type=checkbox]:checked + span::after,
.wpcf7-acceptance input[type=checkbox]:checked + span::after {
  visibility: visible;
}

.wpcf7-list-item-label {
  margin-left: 40px;
  display: inline-block;
}

// CF7
// Modal Starttermine
.modal-dialog {
  max-width: 800px;
}

.modal-body {
  padding: 60px 120px;

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    padding: 15px 20px;
    background-color: $gray-1;
    width: 100%;
    margin-bottom: 30px;
    border: none;

    &::placeholder {
      @extend %form-placeholder;
    }
  }

  .wpcf7-checkbox,
  .wpcf7-acceptance {
    .wpcf7-list-item {
      margin-bottom: 0;

      > label {
        margin-bottom: 0;

        .wpcf7-list-item-label {
          @extend %form-chkbox-bold;

          a {
            color: $red-3;
          }
        }
      }
    }
  }

  input[type="submit"] {
    @extend %button;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.25s ease;
    min-width: 228px;
    height: 58px;
    border-radius: 29px;
    padding: 0 30px;
    background-color: $red-3;
    color: $white;
    border: none;

    &:hover {
      background-color: $red-3;
    }
  }
}
