.questions {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 10000;
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.5s ease-in;

  &__button-wrapper {
    // display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
    background-color: $gray-6;
    display: none;
  }

  &__first-contact {
    width: 20%;
  }

  &__second-contact {
    width: 40%;
  }

  &__first-contact,
  &__second-contact {
    height: 100%;
    background-color: $gray-6;
    padding-top: 14px;
    display: none;

    img {
      width: 93px;
      height: 93px;
      border-radius: 50%;
      float: left;
      margin-right: 25px;
    }

    p {
      color: $white;
      margin-bottom: 0;

      a {
        color: $white;
        text-decoration: none;
      }
    }
  }

  &__whatsapp {
    &::before {
      content: "";
      display: inline-block;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23.866' height='22.769' viewBox='0 0 23.866 22.769'%3E%3Cg id='noun_whatsapp_2584262' transform='translate(-10.704 -21.658)'%3E%3Cg id='Group_135' data-name='Group 135' transform='translate(16.773 27.175)'%3E%3Cpath id='Path_241' data-name='Path 241' d='M142.647,143.485c-1.262,1.262-4.469.1-7.163-2.594s-3.856-5.9-2.594-7.163l1.307-1.307a.584.584,0,0,1,.828,0l1.337,1.337a.584.584,0,0,1,0,.828l-.908.908c-.7.7-.085,2.484,1.412,3.985s3.317,2.15,4.02,1.447l.9-.908a.584.584,0,0,1,.828,0l1.337,1.337a.584.584,0,0,1,0,.828Z' transform='translate(-132.381 -132.25)' fill='%23fff'/%3E%3C/g%3E%3Cg id='Group_137' data-name='Group 137' transform='translate(10.704 21.658)'%3E%3Cg id='Group_136' data-name='Group 136' transform='translate(0 0)'%3E%3Cpath id='Path_243' data-name='Path 243' d='M15.428,41.368A11.546,11.546,0,0,0,22.2,44.381a11.344,11.344,0,0,0,6.345-1.292,11.38,11.38,0,1,0-16.276-6.843A12.1,12.1,0,0,0,13,38.121v-.753c-.643,1.237-1.287,2.469-1.93,3.706-.095.18-.185.354-.279.534a.756.756,0,0,0,.843,1.1l3.955-1c.185-.045.374-.095.559-.14a.75.75,0,1,0-.4-1.446l-3.955,1c-.185.045-.374.095-.559.14l.843,1.1c.584-1.1,1.157-2.2,1.731-3.307.13-.244.254-.489.384-.733.03-.055.06-.115.09-.17a1.17,1.17,0,0,0,.05-.11,1.051,1.051,0,0,0-.15-.9,9.874,9.874,0,0,1-.883-4.1c0-.289.01-.584.035-.873.01-.14.025-.274.04-.414l.015-.1c0,.01-.015.12,0,.03s.025-.16.035-.234a10.733,10.733,0,0,1,.424-1.666l.135-.374c.025-.06.05-.125.075-.185.03-.08,0,.015-.01.025a1.275,1.275,0,0,1,.055-.12c.11-.249.234-.5.364-.743a10.451,10.451,0,0,1,.888-1.377c.05-.07-.01.01-.015.02l.06-.075.125-.155c.09-.11.185-.214.279-.324.18-.2.369-.4.569-.589s.419-.384.638-.564l.155-.125c.065-.055-.015.01-.02.015.025-.02.05-.04.08-.06.115-.085.229-.17.344-.249a11.2,11.2,0,0,1,1.422-.823l.359-.165c.13-.06-.07.025.065-.025.07-.03.145-.055.214-.085.259-.1.524-.19.793-.264s.544-.145.818-.2c.145-.03.289-.055.434-.08l.2-.03c-.14.02.06,0,.11-.015a10.692,10.692,0,0,1,1.741-.055c.289.015.574.04.863.075-.13-.015.025,0,.07.01.07.01.135.02.2.035.145.025.289.055.434.085a10.586,10.586,0,0,1,1.6.489c.03.01.19.075.125.05s.095.04.125.055c.14.065.279.13.419.2.244.125.484.254.723.394s.464.289.688.449l.16.115c.025.02.16.12.1.08s.08.065.1.085c.06.05.12.095.175.145a10.472,10.472,0,0,1,1.162,1.142l.254.3.125.155c-.085-.1.035.05.06.085.165.219.314.444.459.678s.294.489.424.743c.06.12.12.234.175.354.03.06.055.12.085.18.015.03.025.06.04.09s.06.14.025.065.04.1.05.125c.025.06.05.125.07.185.05.135.1.274.145.409.085.264.165.534.229.808s.12.554.165.833c0,.045.03.2.01.07.01.07.015.135.025.2.015.15.03.3.04.449a11.174,11.174,0,0,1-.025,1.781c0,.07-.015.135-.02.2,0,.05-.03.2-.01.075-.02.145-.045.294-.07.439-.05.279-.115.554-.19.823s-.155.534-.249.8c-.045.125-.095.249-.14.374-.01.03-.025.06-.04.095,0-.01.045-.1.01-.025s-.06.14-.095.209a10.339,10.339,0,0,1-.8,1.437c-.07.11-.145.219-.224.324l-.115.16c-.02.025-.04.05-.06.08-.07.09.07-.085,0,0-.175.224-.359.439-.554.648a11.012,11.012,0,0,1-1.2,1.112l-.075.06c.01,0,.09-.07.02-.015s-.1.08-.16.115c-.115.085-.229.165-.349.244-.229.155-.459.294-.7.429s-.484.259-.733.374c-.06.03-.12.055-.18.08-.04.02-.185.075-.065.03-.135.055-.269.1-.4.155a10.655,10.655,0,0,1-1.651.454c-.135.025-.269.045-.4.07s.075,0-.075.01c-.08.01-.16.02-.239.025-.289.03-.579.045-.868.05-.334,0-.668,0-1-.025-.165-.01-.329-.03-.489-.045-.09-.01-.02,0,0,0a1,1,0,0,1-.12-.02l-.279-.045a9.6,9.6,0,0,1-3.6-1.387c-.264-.165-.519-.344-.768-.534-.07-.05-.015-.015,0,0l-.09-.075-.18-.15c-.13-.11-.254-.219-.379-.334a.753.753,0,0,0-1.062,1.067Z' transform='translate(-10.704 -21.658)' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
      width: 24px;
      height: 23px;
      background-repeat: no-repeat;
      background-size: cover;
      margin-right: 10px;
      position: relative;
      top: 3px;
    }
  }

  &__trigger {
    display: flex;
    align-items: center;
    width: 20%;
    height: 100%;
    background: $red-3;
    cursor: pointer;

    .arrow {
      display: inline-block;
      width: 120px;
      height: 100%;
      float: left;
      background-image: url("data:image/svg+xml,%3Csvg id='icon_arrow_big' data-name='icon/arrow_big' xmlns='http://www.w3.org/2000/svg' width='10.1' height='15.4' viewBox='0 0 10.1 15.4'%3E%3Cpath id='Path_215' data-name='Path 215' d='M9.7,12.1,2,4.318,4.294,2,9.7,7.464,15.106,2,17.4,4.318Z' transform='translate(-2 17.4) rotate(-90)' fill='%23fff'/%3E%3C/svg%3E ");
      background-position: center;
      background-repeat: no-repeat;
    }

    .text {
      display: flex;
      flex-direction: column;

      p {
        margin-bottom: 5px;
        color: $white;
      }
    }
  }

  &.questions-active {
    .questions__button-wrapper {
      display: flex;
    }

    .questions__first-contact,
    .questions__second-contact {
      display: inline-block;
    }
  }

  &.remove {
    opacity: 0;
    pointer-events: none;
  }
}
